body {
	background-color: yellow;
	font-family: monospace;
}

.container {
}

#randomNumber {
	font-size: 75px;
}

#score,
#wins,
#losses {
	font-size: 50px;
}

h1 {
	text-align: center;
	color: black;
}

.row1 {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
}

.selectCrystal {
	width: 150px;
	height: 150px;
	margin: 10px;
}

#wins {
	display: block;
}

.navbar-brand {
	font-family: monospace;
	font-size: 50px;
}

.navbar navbar-light bg-light {
	border-bottom: black solid 1px;
}

.nav-link {
	font-size: 25px;
}
